// colors
$primary: rgba(6,198,248,1);
$secondary: rgba(255,255,255,1);
$link: rgba(38,89,169,1);
$button_hover: rgba(0,0,0,1);
$primary_background: rgba(34,34,34,1);
$secondary_background: rgba(200,200,200,1);
$datatable_background: rgba(250,250,250,1);
$datatable_border_bottom: rgba(200,200,200,1);
$datatable_border_top: rgba(170,170,170,1);
// sizes
$header_brand_size: 25px;
$header_height_size: 80px;
$footer_copyrights_size: 40px;
$footer_contact_size: 100px;
$footer_credits_size: 20px;
